<% include header %>
<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-lg-2">活动名</label>
    <div class="col-lg-3">
      <input class="form-control" type="text" value="<%= act_name %>" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2">活动ID</label>
    <div class="col-lg-3">
      <input class="form-control" type="text" value="<%= act_id %>" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2">报名链接</label>
    <div class="col-lg-3">
      <a style="position:relative; top: 7px;" href="<%= sign_url %>"><%= sign_url %></a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2">报名页面二维码</label>
    <div class="col-lg-3">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2">统计页面</label>
    <div class="col-lg-3">
      <a style="position:relative; top: 7px;" href="<%= statistics_url %>"><%= statistics_url %></a>
    </div>
  </div>
</div>
<% include footer %>